<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<script src="js/result.js"></script>

<style>
p {
	color: black;
}

.boxValue {
	font-size: 120px;
	font-weight: 400;
}

.valueBox {
	float: left;
	padding: 20px;
	background: #eee;
	margin: 10px;
	border: 1px solid black;
	width: 260px;
	height: 280px;
}

.tableContainer {
	margin-top: 350px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
}

.codeSmellList {
	inline-size: fit-content;
	padding: 10px;
}

.valueTable {
	width: 80%;
}

.mainContainer {
	padding: 10px;
}
</style>
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Help</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="vendor/simple-line-icons/css/simple-line-icons.css"
	rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

	<header class="masthead text-white text-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<h1 class="mb-5">Get information</h1>
				</div>
				<div class="col-md-10 col-lg-8 col-xl-7 mx-auto"></div>
			</div>
		</div>
		<h2 class="center" style="font-size: 50px;" th:utext="${message}">!</h2>
	</header>
	<br>
	<div class="mainContainer container text-lg-left">
		<div>
			<div style="font-size: 17px; width: 800px;">
				Here you get the most important information from the SonarQube
				documentation. Regarding the analysis for further information,
				please refer to the <a href="https://docs.sonarqube.org/latest/">SonarQube</a>
				homepage.
			</div>
		</div>
		<br>
		<div>
			<div>
				<h3>Issue Types</h3>
				<p>There are three types of issues:</p>
				<ol>
					<li><strong>Bug</strong> – A coding error that will break your
						code and needs to be fixed immediately.</li>
					<li><strong>Vulnerability</strong> – A point in your code
						that's open to attack.</li>
					<li><strong>Code Smell</strong> – A maintainability issue that
						makes your code confusing and difficult to maintain.</li>
				</ol>
				<h3>Issue Severity</h3>
				<p>Each issue has one of five severities:</p>
				<ol>
					<li><strong>BLOCKER</strong><br> Bug with a high
						probability to impact the behavior of the application in
						production: memory leak, unclosed JDBC connection, .... The code
						MUST be immediately fixed.</li>
					<li><strong>CRITICAL</strong><br> Either a bug with a low
						probability to impact the behavior of the application in
						production or an issue which represents a security flaw: empty
						catch block, SQL injection, ... The code MUST be immediately
						reviewed.</li>
					<li><strong>MAJOR</strong><br> Quality flaw which can
						highly impact the developer productivity: uncovered piece of code,
						duplicated blocks, unused parameters, ...</li>
					<li><strong>MINOR</strong><br> Quality flaw which can
						slightly impact the developer productivity: lines should not be
						too long, "switch" statements should have at least 3 cases, ...</li>
					<li><strong>INFO</strong><br> Neither a bug nor a quality
						flaw, just a finding.</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-100 text-center text-lg-left my-auto">
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a th:href="@{/about}">About
								& Sources</a></li>
					</ul>
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a th:href="@{/help}">Help</a></li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">Eren Erdogan</p>
				</div>
				<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
				</div>
			</div>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
