<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<style type="text/css">
.fileBox {
	display: block;
	width: 100%;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	padding: 10px;
}

#loading {
	background: url('img/spinner.gif') no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
	height: 100%;
	width: 100%;
	opacity: 30%;
	display: none;
}
</style>
<title>Java Project Analyzer</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="vendor/simple-line-icons/css/simple-line-icons.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>
	<header class="masthead text-white text-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<h1 class="mb-5">Java Project Analyzer</h1>
				</div>
				<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
					<form method="POST" th:action="@{/uploadFile}"
						enctype="multipart/form-data">
						<div class="form-row">
							<input type="file" class="fileBox" name="file" webkitdirectory
								multiple /> <br /> <br />
							<button type="submit" class="btn btn-block btn-lg btn-primary"
								onclick="enableLoader()">Scan Project</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<h2 class="center" style="font-size: 50px;" th:utext="${message}">
			!</h2>
	</header>

	<div th:if="${analyseLink != null}">
		Sie könne die Analyse Ergebnise Hier betrachten:
		<div th:utext="${analyseLink}"></div>
	</div>

	<div id="loading"></div>

	<!-- Footer -->
	<footer class="footer bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-100 text-center text-lg-left my-auto">
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a th:href="@{/about}">About
								& Sources</a></li>
					</ul>
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a th:href="@{/help}">Help</a></li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">Eren Erdogan</p>
				</div>
				<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<script type="text/javascript">
		function enableLoader() {
			document.getElementById("loading").style.display = "block";
		}
	</script>

</body>
</html>
